@use '@/app/styles/animations' as *;

.main {
  position: relative;
  grid-area: main;
  align-self: end;
  h1 {
    font-size: var(--fsz-big);
    font-weight: 500;
    line-height: 1.2;
  }
}

.wave {
  font-size: 3rem;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  display: inline-block;
}

.work {
  display: none;
  border-radius: 3rem;
  margin-top: 12px;
  border: 1px solid var(--bg-secondary);
  font-size: 1.5rem;
  background: var(--bg-primary);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  animation: hover ease;
  transition: 0.3s;
  &:hover {
    background: var(--btn-hover);
    transition: 0.3s;
  }
  a {
    font-weight: 600;
  }
}

@media screen and (max-width: 900px) {
  .main {
    grid-column-end: span 4;
  }
  .work {
    display: inline-block;
  }
}
